<footer class="site-footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4">
        <h3>Adhi & Nidhi Jewellery</h3>
        <p>Crafted heirlooms for modern celebrations, designed with tradition and brilliance.</p>
      </div>
      <div class="col-lg-4">
        <h4>Visit Us</h4>
        <p>12, Palace Road<br />Bengaluru, Karnataka</p>
      </div>
      <div class="col-lg-4">
        <h4>Connect</h4>
        <p>lahane.ashwini26@gmail.com<br />+91 8208315776</p>
      </div>
    </div>
  </div>
</footer>
